body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.input-field {
    width: 60px;
    height: 40px;
    font-size: 20px;
}

#total {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}



.calculation {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    align-items: center; /* Center items horizontally */
    gap: 15px; /* Adds some space between elements vertically */
}


.calculation label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    color: #333;
}

.calculation input[type="number"] {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #ccc;
    border-radius: 5px;
}

.calculation button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.calculation button:hover {
    background-color: #45a049;
}

.result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

/* Additional styling for a better user experience */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/*drop down and page number */
.date-dropdowns {
    margin-bottom: 20px;
    font-size: 20px;
}

.pagination {
    margin-top: 20px;
}

.page-link {
    cursor: pointer;
    margin: 0 10px;
    font-size: 20px;
    color: blue;
    text-decoration: underline;
}

.error-row {
    background-color: #FFC0CB; /* Light red */
}

.success-row {
    background-color: #98FB98; /* Light green */
}
